<div class="message">
    <!-- 投稿したメッセージ内容を記述する -->
<h1> tesuto </h1>
<% @purposes.each do |f|%>
<% if f.situation_id == @situation.id  %>
<div class ="purpose-text">

 <%= f.text%>
</div>
<%end%>
<%end%>
</div>