<div class="side-bar-header">
  <div class="header-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="create-room">
    <%= link_to "シチュエーションの作成", new_situation_path %>
  </div>
</div>


<div class="rooms">
 <% current_user.situations.each do |situation|%>
  <div class="room">
    <div class="room-name">
      <%= link_to situation.name, situation_path(situation.id) %>
    </div>
   </div>
  <% end %>
</div>