<div class="message">
<% @values.each do |f|%>
<% if f.situation_id == @situation.id %>
<table border="1" width="100%" style="table-layout: auto;">
<tr>
<th bgcolor="#EE0000"><font color="#FFFFFF">要素</font></th>
<th bgcolor="#EE0000"><font color="#FFFFFF">自分の価値観</font></th>
<th bgcolor="#EE0000"><font color="#FFFFFF">重要度</font></th>
<th bgcolor="#EE0000"><font color="#FFFFFF">一致度</font></th>
<th bgcolor="#EE0000"><font color="#FFFFFF">ギャップ</font></th>
</tr>
<tr>
<td bgcolor="#99CC00">家族</td>
<td bgcolor="#FFFFFF">ケチャップ味のパスタ</td>
<td bgcolor="#FFFFFF">6</td>
<td bgcolor="#FFFFFF">5</td>
<td bgcolor="#FFFFFF">1</td>
</tr>
<tr>
<td bgcolor="#99CC00">結婚、恋愛</td>
<td bgcolor="#FFFFFF">ニンニクと唐辛子とオリーブオイルのパスタ</td>
<td bgcolor="#FFFFFF">6</td>
<td bgcolor="#FFFFFF">5</td>
<td bgcolor="#FFFFFF">1</td>
</tr>
<tr>
<td bgcolor="#99CC00">子育て</td>
<td bgcolor="#FFFFFF">あさりのパスタ</td>
<td bgcolor="#FFFFFF">6</td>
<td bgcolor="#FFFFFF">5</td>
<td bgcolor="#FFFFFF">1</td>
</tr>
<tr>
<td bgcolor="#99CC00">友人、対人関係</td>
<td bgcolor="#FFFFFF">あさりのパスタ</td>
<td bgcolor="#FFFFFF">6</td>
<td bgcolor="#FFFFFF">5</td>
<td bgcolor="#FFFFFF">1</td>
</tr>
<tr>
<td bgcolor="#99CC00">キャリア、仕事</td>
<td bgcolor="#FFFFFF">あさりのパスタ</td>
<td bgcolor="#FFFFFF">6</td>
<td bgcolor="#FFFFFF">5</td>
<td bgcolor="#FFFFFF">1</td>
</tr>
<tr>
<td bgcolor="#99CC00">自己成長</td>
<td bgcolor="#FFFFFF">あさりのパスタ</td>
<td bgcolor="#FFFFFF">6</td>
<td bgcolor="#FFFFFF">5</td>
<td bgcolor="#FFFFFF">1</td>
</tr>
<tr>
<td bgcolor="#99CC00">余暇、レジャー</td>
<td bgcolor="#FFFFFF">あさりのパスタ</td>
<td bgcolor="#FFFFFF">6</td>
<td bgcolor="#FFFFFF">5</td>
<td bgcolor="#FFFFFF">1</td>
</tr>
<tr>
<td bgcolor="#99CC00">スピリチュアリティ</td>
<td bgcolor="#FFFFFF">あさりのパスタ</td>
<td bgcolor="#FFFFFF">6</td>
<td bgcolor="#FFFFFF">5</td>
<td bgcolor="#FFFFFF">1</td>
</tr>
<tr>
<td bgcolor="#99CC00">コミュニティ</td>
<td bgcolor="#FFFFFF">あさりのパスタ</td>
<td bgcolor="#FFFFFF">6</td>
<td bgcolor="#FFFFFF">5</td>
<td bgcolor="#FFFFFF">1</td>
</tr>
<tr>
<td bgcolor="#99CC00">健康</td>
<td bgcolor="#FFFFFF">あさりのパスタ</td>
<td bgcolor="#FFFFFF">6</td>
<td bgcolor="#FFFFFF">5</td>
<td bgcolor="#FFFFFF">1</td>
</tr>
<tr>
<td bgcolor="#99CC00">環境</td>
<td bgcolor="#FFFFFF">あさりのパスタ</td>
<td bgcolor="#FFFFFF">6</td>
<td bgcolor="#FFFFFF">5</td>
<td bgcolor="#FFFFFF">1</td>
</tr>
<tr>
<td bgcolor="#99CC00">芸術</td>
<td bgcolor="#FFFFFF">あさりのパスタ</td>
<td bgcolor="#FFFFFF">6</td>
<td bgcolor="#FFFFFF">5</td>
<td bgcolor="#FFFFFF">1</td>
</tr>
</table>
<%end%>
<%end%>
</div>